<%= render 'common_templates/company_name' %>

<h1>List Users</h1>

<table border="1">
	<th>First name</th>
	<th>Last name</th>
	<th>Age</th>
	<th>City</th>
	<th>Gender</th>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.firstname %></td>
			<td><%= user.lastname %></td>
			<td><%= user.age %></td>
			<td><%= user.city_name %></td>
			<td><%= user.gender_string %></td>
		</tr>
	<% end %>
</table>
